#dino {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    color: #ff2f57;
    width: 1280px;
    margin: 0 auto;
}

#dino > span,
#dino > div {
    position: absolute;
}
a{
    color: #ff2f57;
    text-decoration: none;
}
#textAuthor {
    color: #ff2f57;
    vertical-align: top;
    text-align: left;

}

.hidden {
    display: none;
}

.press-to-play {
    font-size: 24pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    right: 20px;
    top: 20px;
    font-family: monospace;
    font-size: 24px;
}

.highscore {
    opacity: .75;
}

.game-over {
    font-size: 24pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-over-text {
    font-size: 24px;
    letter-spacing: 5px;
    font-family: monospace;
}

.replay-button {
    margin-top: 8px;
    font-size: 18px;
}

